.homeHeader {
  margin-top: 20px;
}

.homeHeaderTitle {
  font-size: 20px;
}

.topContainer {
  display: flex;
  flex-direction: column-reverse;
}

.accomodationsContainer {
  width: 100%;
  background-color: var(--background-color);
  border-radius: 25px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.accomodationsTitle {
  margin: 20px;
}

.accomodationsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 10px;
}

.moreText {
  float: right;
  padding: 0 30px 20px 0;
  font-size: 18px;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}

.mostPopularHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.mostPopularContainer {
  background-color: var(--background-color);
  border-radius: 25px;
  margin-bottom: 30px;
}

.mostPopularList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.activitiesContainer {
  background-color: var(--background-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.activitiesTitle {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

.activities {
  height: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 10px 20px 10px;
}

.activitiesImage {
  width: 100%;
  height: 85%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.activitiesName {
  height: 15%;
  font-size: 16px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .topContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .accomodationsContainer {
    width: 66%;
    height: auto;
  }

  .accomodationsList {
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
  }

  .mostPopularContainer {
    width: 33%;
    height: auto;
    margin-bottom: 30px;
  }

  .activitiesList {
    display: flex;
    flex-direction: row;
  }

  .activitiesTitle {
    text-align: start;
    padding-left: 20px;
  }

  .activities {
    height: 450px;
    width: 25%;
  }
}
