.cardsContainer {
  width: 250px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 0;
}

.cardsImages {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 110px;
  padding: 5px;
}

.cardsInfos {
  height: auto;
}

.cardsTitle {
  font-size: 14px;
  margin: 0 0 10px 10px;
}

.cardsPrice {
  font-size: 12px;
  margin: 0 0 10px 10px;
}

.cardsRating {
  margin: 0 0 10px 10px;
  font-size: 14px;
}
